# Verbose output to know what toolchains are selected
build --toolchain_resolution_debug

# Do not use the deprecated toolchain resolution system with --cpu and --crosstool_top
# This forces to use the new way to have toolchains in Bazel
build --incompatible_enable_cc_toolchain_resolution

build --verbose_failures

# The old way to access platforms was with @bazel_tools//platforms
# However this should not be used and the @platforms repository should
# be used instead
# To make sure that the old way is not used, this flag can be set
build --incompatible_use_platforms_repo_for_constraints
