pytest==6.2.5
pytest-pylint==0.18.0
pylint==2.11.1

# This example has been tested with Ubuntu 20.04 that comes with Python 3.8.
# To make sure that pip does not resolve to a version that does not support Python 3.8,
# we need to add additional restrictions.
setuptools<66
platformdirs<4
attrs<24
typing_extensions<4.13
packaging<24.0
iniconfig<2.1.0
